@media (max-width: 1199px) {
    .logo__text {
        display: none;
    }

    .header .menu {
        border-top: .5px solid rgba(181, 181, 181, .5);
        text-align: center;
        padding-top: 50px;
    }

    .header .menu ul {
        display: none;
    }

    .menu__gumb {
        display: block;
        line-height: 55px;
    }

    .menu__gumb::after {
        content: '';
        color: #fff;
        position: absolute;
        top: 6px;
        right: 32px;
        width: 30px;
        height: 40px;
        background: url('../images/menu-gumb.png') no-repeat 50% 50%;
        background-size: cover;
    }

    .header::after {
        display: none;
    }

    .slider__inner-content {
        min-height: 350px;
    }

    .slider__inner-content h3 {
        padding-top: 180px;
    }

    .about__content-image {
        display: none;
    }

    .about__content-text {
        max-width: 100%;
    }

    .logo__img {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .footer__contacts {
        flex-direction: column;
        /* margin-left: 31%; */

    }

    .footer__contacts-number,
    .footer__contacts-email,
    .footer__contacts-addres {
        margin: 15px 0;
    }

    .footer__contacts-number {
        padding-left: 0;
    }

    .footer__contacts-number::after {
        left: -39px;
    }

    .footer__bottom {
        margin-top: 25px;
        min-height: 180px;
    }

    .footer::after {
        bottom: 180px;
    }

}



@media (max-width: 767px) {
    .logo {
        display: flex;
        justify-content: center;
    }

    .header .col-sm-12 {
        padding: 0 15px !important;
    }

    .company-profile-text {
        max-width: 60%;
        margin: 0 auto;
    }

    .header .contacts {
        max-width: 60%;
        margin: 25px auto;
    }

    .footer__contacts {
        margin-left: 31%;
    }

    .promo-kontur {
        justify-content: start;
        margin-top: 10px;
    }

    .promo-kontur__text div {
        padding-left: 0;
        padding-right: 15px;

    }
}

@media (max-width: 575px) {
    .company-profile-text {
        max-width: 85%;
        margin: 0 auto;
    }

    .header .contacts {
        max-width: 85%;
        margin: 25px auto;
    }

    .footer__contacts {
        margin-left: 15%;
    }

    .footer__bottom {
        min-height: 220px;
    }

    .footer::after {
        bottom: 235px;
    }
}


@media (min-width: 1200px) {
    .header .menu ul {
        display: flex !important;
    }


}