/*catalog-page*/

.breads {
    margin-top: 65px;
}



.breads ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;

}

.breads ul li:not(:last-child) {
    opacity: 0.5;
}

.breads ul li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 6px;
    width: 12px;
    height: 5px;
    background: url('../../../images/bread-arrow.png');
}

.breads h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #272727;
    padding: 32px 0;
}

.breads a {
    color: #272727;
    text-decoration: underline;
}

.catalog-page {
    margin-bottom: 252px;
}

.catalog-page__cart {
    color: #272727;
    min-width: 259px;
    min-height: 335.5px;
    box-shadow: 0 0 0 .3px #000;
    padding: 10px;
}

.catalog-page__cart-image {
    padding-top: 7px;
}

.catalog-page__cart-image img {
    display: block;
    margin: 0 auto;
}

.catalog-page__cart-title {
    font-size: 14px;
    line-height: 16px;
    padding-top: 12px;
    padding-bottom: 24px;
}

.catalog-page__cart-cost {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}


/*catalog-page*/